.ollama-lore.journal-entry-dropdown,
.ollama-lore.llm-model,
.ollama-lore.entry-template {
  width: 100%;
}

.ollama-lore.originating-content {
  height: 14px;
}

.ollama-lore.label-line-height {
  line-height: 26px;
}
